<config verbose="yes">
    <parent-provides>
        <service name="ROM" />
        <service name="LOG" />
        <service name="RM" />
        <service name="CPU" />
        <service name="PD" />
        <service name="Timer" />
    </parent-provides>

    <start name="hello" caps="100">
        <resource name="RAM" quantum="200M" />
        <config>
            <libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/null" />
            <vfs>
                <dir name="dev">
                    <null />
                    <log />
                </dir>
            </vfs>
        </config>
        <route>
            <any-service>
                <parent />
            </any-service>
        </route>
    </start>

</config>