<config verbose="yes">
    <parent-provides>
        <service name="ROM" />
        <service name="LOG" />
        <service name="RM" />
        <service name="CPU" />
        <service name="PD" />
        <service name="Timer" />
        <service name="Nic" />
    </parent-provides>

    <default-route>
        <any-service>
            <parent />
            <any-child />
        </any-service>
    </default-route>

    <default caps="500" />

    <start name="hello">
        <resource name="RAM" quantum="200M" />
        <config>
            <libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/null" />
            <vfs>
                <dir name="dev">
                    <null />
                    <log />
                    <dir name="socket">
                        <!-- depends on tap device. see https://genodians.org/chelmuth/2019-01-31-network-dev -->
                        <lxip ip_addr="10.0.2.55" netmask="255.255.255.0" gateway="10.0.2.1" />
                    </dir>
                </dir>
            </vfs>
        </config>
        <route>
            <any-service>
                <parent />
            </any-service>
        </route>
    </start>

</config>